:root {
  /* إعداد الألوان */
  --primary-bg: #2F2F2F;
  --btn-bg: #906E50;
  --btn-bgHover: #B98E76;
  --white-color: #ffffff;
  --heading-color: #080A2D;
  --text-color01: #B6B6B6;
  --text-color02: #666666;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  text-transform: capitalize;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

h1, h3{
  font-family: 'Amiri', serif;
}
section{
  margin: 50px 0;
  padding: 100px 0;
  overflow-x: hidden;
  
}
.btnHero,
.btnTrans {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  width: 11.5rem;
  height: 3.125rem;
  line-height: normal;
  font-size: 0.9375rem;  
  font-family: 'Inter', sans-serif;
  text-decoration: none; 
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  border: none;
  overflow: hidden; 
  text-decoration: none !important;
 
}

.btnHero {
  background: var(--btn-bg);
  color: var(--white-color);
  
}

.btnTrans {
  background: transparent;
  border: 1px solid var(--btn-bgHover);
  color: var(--heading-color);
  
}

.btnHero span,
.btnTrans span {
  position: relative;
  z-index: 2;
  
  
}

.btnHero:after,
.btnTrans:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--btn-bgHover);
  transition: all 0.35s;
  z-index: 1;
}

.btnHero:hover:after,
.btnTrans:hover:after {
  width: 100%;
}

.btnTrans:hover {
  color: var(--white-color);
}

section{
  margin: 0px 0;
  padding: 100px 0;
  overflow-x: hidden;
  
}

@media (max-width: 600px) {
  .btnHero,
  .btnTrans {
    width: 8rem; 
    height: 2.5rem; 
    font-size: 0.75rem; 
  }
}


@media (min-width: 601px) and (max-width: 1024px) {
  .btnHero,
  .btnTrans {
    width: 10rem;
    height: 2.75rem; 
    font-size: 0.85rem; 
  }
}


@media (min-width: 1025px) {
  .btnHero,
  .btnTrans {
    width: 11.5rem; 
    height: 3.125rem; 
    font-size: 0.9375rem; 
  }
}

