.productCard {
    transition: transform 0.3s ease;
    height: 425px; 
    overflow: hidden;
    margin: 15px 0;
    cursor: pointer;
  }
  .productCard:hover {
    transform: scale(1.05); 
   
  }
  .productImage {
    height: 265px;
    object-fit: cover; 
    
  }
  .productname{
    font-size: 18px !important;
    margin-bottom: 10px;
  }
  .productDescription {
    font-size: 0.85rem;
    color: #6c757d; 
    line-height: 1.5; 
    margin-bottom: 10px;
    
  }
  
  .productDescription::after {
    content: "";
    display: block;
    margin-top: 10px;
    height: 1px;
    background-color: #ddd; 
    width: 100%;
  }
  
  .price {
    font-weight: bold;
    color: var(--green-01);
    font-size: 1rem;
     padding-bottom: 5px 0;
  }
  
  /* ==========================================================================================   */
  
  
  .categoryList {
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 300px;
    height: auto;
    /* margin: auto; */
    transition: all 0.3s ease;
    
  }
  .categoryItem {
    padding: 12px;
    cursor: pointer;
    font-size: 1.1rem;
    color: #555;
    transition: background-color 0.3s ease, color 0.3s ease; 
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .categoryItem:hover {
    background-color: var(--btn-bg); 
    color: white; 
  }
  
  .categoryItem.active {
    background-color: var(--btn-bg); 
    color: white; 
    font-weight: bold;
  }
  

  .categoryItem:last-child {
    border-bottom: none;
  }
  
  /* =======================================  filter bar ============================================== */
  .menuItem {
    background-color: #f4f4f9 !important; 
    border: 1px solid var(--btn-bg); 
    width: 100%;
  }
  .dropItem:hover{
    background-color: var(--btn-bg) !important;
    color: white !important; 
  }
  .filterBar {
    margin-bottom: 20px; 
  }
  
  .searchInput {
    width: 100%;
    border-radius: 50px;
    padding-left: 20px;
    border: 1px solid #ddd;
  }
  
  .dropdown-menu.show {
    width: 100% !important;
    left: 0 !important;
    right: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
  }
  
  .searchInput {
    padding-right: 40px; 
  }
  
 
  .btn__search {    
    border: 1px solid #ddd; 
     
    display: flex; 
    align-items: center;
    justify-content: center;
  
  }
  
  .galsess {
    margin-right: 8px; 
    font-size: 18px; 
    background-color: #e7e7e7;
    padding: 10px 15px;
    font-size: 16px; 
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  
  }
  
  
  .galsess:hover {
    background-color: #e2e6ea; 
  }
  
  
  @media (max-width: 992px) {
    
    .categoryList {
      max-width: 100% !important; 
      margin: 20px 0;
     } 
  } 